[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
tensorflow = "==1.15.2"
# Used by tensorflow and due to the following:
# https://github.com/tensorflow/tensorflow/issues/44467
h5py = "<3.0.0"
opencv-python = ">=4.4"
tqdm = ">=4.5"
keras = "~=2.3.1"
segmentation-models = "~=1.0.1"
typing-extensions = "*"
colorama = ">=0.4.4"

[requires]
python_version = "3.7"
